@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #000000;
  --foreground: #ffffff;
   --font-inter: 'Inter', sans-serif;
  --font-cairo: 'Cairo', sans-serif;
    scroll-behavior: smooth;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-cairo);
    scroll-behavior: smooth;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.text-shadow-lg {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}









